 html, body, div, span, h1, h2, h3, h4, strong, ol, ul, li{
    margin-left: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #ffffff;
    vertical-align: baseline;
    
    background: url("../imgs/background.jpg") repeat fixed center center #474C52;
}
body{
    line-height: 1.5;
    font-size: 100%;
    font-family: georgia, helve;
}
ol, ul{
    list-style: none;
}

#wrapper{
    width: 1020px;
    margin: 0 auto;
    border: 10px solid #73726E;
    border-top: 30px solid #73726E;
    -moz-border-radius:0 0 6px 6px;
    background: transparent; 
}
#header{
    margin-top: -140px;
    width: 800px;
    height: 140px;
    background-color: #4792b8;
}

#mainNav{
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    border-right: 1px solid #5F676D;
    padding-top: 10px;
    width: 223px;
    float: left;
}
#mainNav li{
    border: 1px solid #5F676D;
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    list-style: none outside none;
    left: 100cm;
}
#mainNav li:hover{
    background: transparent;
    border: 3px solid #5F676D; 
}

#content{
    
    width: 764px;
    background: url("../imgs/sep_vertical.png") repeat-y scroll 0 0 transparent;
    padding-left: 1.5em;
    float: right;
    
}



#footer{
    
    height: 60px;
    clear: both;
    background: url("../imgs/opaque_10.png") repeat-x scroll 0 0 transparent;
    text-align: center;
}

#input, textarea {
    background: url("../imgs/opaque_10.png") repeat scroll 0 0 transparent;
    border: medium none;
    color: #C5CBD0;
    float: left;
    margin-bottom: 0.5em;
    padding: 0.4em;
    width: 20em;
}